@import "../base/settings";

.cardContainer {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
}

.cardTitle {
    border-bottom: 1px solid #000;
    font-weight: bold;
}

.deleteButton {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    margin: 2px;
}

.successButton {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin: 2px;
}