@import "../base/settings";

.ListContainer {
    display: inline-flex;
    flex-direction: column;
    margin: $grid;
    border: $grid;
    padding-bottom: 0;
    transition: background-color 0.1s ease, opacity 0.1s ease;
    user-select: none;
    width: 250px;
}

.lighter {
    background-color: $lighterblue
}

.light {
    background-color: $lightblue
}

.halfOpacity {
    opacity: 0.5
}

.inheritOpacity {
    opacity: inherit;
}

.cardTitle {
    padding: 8px;
}

.cardList {
    padding: 8px;
    transition: background-color 0.2s ease;
    flex-grow: 1;
    min-height: 0;
}

.skyblue {
    background-color: skyblue;
}

.inheritColor {
    background-color: inherit
}

listTitle {
    padding: 8px;
}