$deepblue: rgb(0, 121, 191);
$lightblue: #e3e3e3;
$lighterblue: #e3e3ee;
$softblue: #E6FCFF;
$black: #4d4d4d;
$shadow: rgba(0,0,0,0.2);
$darkergreen: #C1C7D0;
$darkgreen: #E2E4E6;
$mediumgreen: #DFE1E5;
$N30green: #EBECF0;
$lightgreen: #F4F5F7;
$green: rgb(185, 244, 188);
$white: white;
$purple: rebeccapurple;
$grid: 8px;